@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 50px;
  --background: #e9f8f6;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #45b4a1;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* globals.css */
body {
  font-weight: 500;
}

h1,
h2 {
  font-family: var(--font-inter-sans), sans-serif;
}

h3,
h4,
h5 {
  font-family: var(--font-poppins-sans), sans-serif;
}

/* container-media-query */
.container {
  max-width: 1440px;
  /* margin: 0 auto; */
}

/* primary color code */
.primary-darker {
  color: #096b60;
}
.primary-dark {
  background-color: #138b7d;
}
.primary-light {
  background-color: #6fdcd3;
}
.primary-lighter {
  background-color: #b0ffed;
}

/* font-family  */
.font-roboto {
  font-family: var(--font-roboto-sans);
}
.font-inter {
  font-family: var(--font-inter-sans);
}

.font-poppins {
  font-family: var(--font-poppins-sans);
}

/* Shadow */
.box-shadow {
  border-radius: 50px;
  background: linear-gradient(312deg, #f4fefc 14.21%, #e4f8f4 85.33%),
    linear-gradient(0deg, #e4fffb 0%, #e4fffb 100%),
    linear-gradient(312deg, #f4fefc 14.21%, #e4f8f4 85.33%);
  box-shadow: -1px -1px 1px 0px rgba(255, 255, 255, 0.7) inset,
    1px 1px 2px 0px rgba(174, 174, 192, 0.2) inset, 3px 3px 5px 0px #bfe4e0,
    -3px -3px 6px 0px #fff;
}

.box-shadow-two {
  background: linear-gradient(312deg, #f4fefc 14.21%, #e4f8f4 85.33%),
    linear-gradient(0deg, #e4fffb 0%, #e4fffb 100%),
    linear-gradient(312deg, #f4fefc 14.21%, #e4f8f4 85.33%);
  box-shadow: -1px -1px 1px 0px rgba(255, 255, 255, 0.7) inset,
    1px 1px 2px 0px rgba(174, 174, 192, 0.2) inset, 3px 3px 5px 0px #bfe4e0,
    -3px -3px 6px 0px #fff;
}

.about-card-box {
  border-top-left-radius: 42px;
  border-bottom-left-radius: 42px;
  background: #e1f6f3;
  border: 5px solid #ffffff;
  background: linear-gradient(312deg, #f4fefc 14.21%, #e4f8f4 85.33%);
  box-shadow: 3px 3px 5px 0px #bfe4e0, -3px -3px 6px 0px #fff;
}

/* Section-Title */
.section-title {
  font-weight: 900;
  letter-spacing: 0%;
  background: linear-gradient(180deg, #138b5b 0%, #096b60 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  /* Apply text border using text-stroke */
  -webkit-text-stroke: 1px #096b60;
  text-stroke: 1px #096b60;
}

.section-title-two {
  font-weight: 700;
  letter-spacing: 0%;
  background: linear-gradient(180deg, #138b5b 0%, #096b60 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  /* Apply text border using text-stroke */
  -webkit-text-stroke: 1px #096b60;
  text-stroke: 1px #096b60;
}

/* Primary-Button */
.primary-button {
  font-family: var(--font-inter-sans), sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 1px;
  padding-right: 24px;
  padding-bottom: 1px;
  padding-left: 24px;
  border-radius: 50px;
  background: linear-gradient(312.48deg, #096b44 14.21%, #5bcb9f 85.33%);
  box-shadow: -3px -3px 6px 0px rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 5px 0px rgba(191, 228, 224, 1);
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  /* 👇 Add transition for smooth hover effect */
  transition: all 0.3s ease;
  font-weight: 700;
}
.primary-button:hover {
  font-family: var(--font-inter-sans), sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 1px;
  padding-right: 24px;
  padding-bottom: 1px;
  padding-left: 24px;
  border-radius: 50px;
  background: linear-gradient(312.48deg, #0c2e20 14.21%, #5bcb9f 85.33%);
  box-shadow: -3px -3px 6px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 5px 0px rgba(191, 228, 224, 0.4);
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

/* Secondary-Button */
.secondary-button {
  font-family: var(--font-inter-sans), sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 1px;
  padding-right: 24px;
  padding-bottom: 1px;
  padding-left: 24px;
  border-radius: 50px;
  background: linear-gradient(312.48deg, #f4fefc 14.21%, #e4f8f4 85.33%);
  box-shadow: -3px -3px 6px 0px rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 5px 0px rgba(191, 228, 224, 1);
  color: #138b7d;
  font-size: 12px;
  cursor: pointer;
  /* 👇 Add transition for smooth hover effect */
  transition: all 0.3s ease;
  font-weight: 700;
}
.secondary-button:hover {
  font-family: var(--font-inter-sans), sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 1px;
  padding-right: 24px;
  padding-bottom: 1px;
  padding-left: 24px;
  border-radius: 50px;
  background: var(--ft-primary-Lighter, #b0ffed);
  box-shadow: -2px -2px 3px 0px #ffffff;
  box-shadow: 2px 2px 3px 0px #bfe4e0;
  color: #138b7d;
  font-size: 12px;
  cursor: pointer;
}

.arrow-variant {
  border: none;
  color: #138b7d;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}

/* Get in Touch Button */
.get-in-touch {
  font-family: var(--font-inter-sans), sans-serif;
  width: 100;
  height: 40;
  gap: 10px;
  padding-top: 1px;
  padding-right: 50px;
  padding-bottom: 1px;
  padding-left: 50px;
  border-radius: 50px;
  background: linear-gradient(312.48deg, #096b44 14.21%, #5bcb9f 85.33%);
  box-shadow: -3px -3px 6px 0px rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 5px 0px rgba(191, 228, 224, 1);
  cursor: pointer;
  font-size: 12px;
}

.get-in-touch-small {
  font-family: var(--font-inter-sans), sans-serif;
  width: 100%;
  height: 34;
  gap: 10px;
  padding-top: 1px;
  padding-right: 30px;
  padding-bottom: 1px;
  padding-left: 30px;
  border-radius: 50px;
  background: linear-gradient(312.48deg, #096b44 14.21%, #5bcb9f 85.33%);
  box-shadow: -3px -3px 6px 0px rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 5px 0px rgba(191, 228, 224, 1);
  cursor: pointer;
  font-size: 12px;
}

.top-background {
  position: absolute;
  width: 220;
  height: 220;
  top: -119px;
  left: 42px;
  background: white;
  z-index: -1;
  border-radius: 50%;
}

@layer utilities {
  @keyframes doller-image {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .doller-image {
    animation: doller-image 2s ease-in-out infinite;
  }
}
@media screen and (min-width: 1024px) {
  .content-image {
    position: absolute;
    top: -195px;
    left: 0;
  }
}
@media screen and (width: 1366px) {
  .content-image {
    position: absolute;
    top: -72px;
    left: 0;
  }
}

/* Footer-Section */
.footer-top-section {
  width: 100%;
  border-radius: 50px;
  border-width: 1px;
  background: linear-gradient(89.28deg, #dbf9f2 -1.22%, #d2fdf9 59.57%);
  border: 1px solid var(--Surface-Forground-Background, #ffffff);
  box-shadow: -10px -10px 20px 0px #b1ebe1 inset;
  box-shadow: 10px 15px 20px 0px #a4ccbe inset;
  overflow: hidden;
}
.footer-top-image {
  width: 100%;
  height: 569px;
  background-image: url("/fooer-top.png");
  background-position: right center; /* <-- right + vertically centered */
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-top-title {
  font-weight: 700;
  letter-spacing: 0%;
  background: #222222;
  background-clip: text;
  color: transparent;

  /* Apply text border using text-stroke */
  -webkit-text-stroke: 1px #222222;
  text-stroke: 1px #222222;
}

/* about tab */
.about-card {
  gap: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(312deg, #f4fefc 14.21%, #e4f8f4 85.33%);
  box-shadow: 3px 3px 5px 0px #bfe4e0, -3px -3px 6px 0px #fff;
}

.journey-box-card {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 47px;
  background: var(--Surface-body-Background, #fafafa);
  box-shadow: inset 2px 2px 4px 0px #badfdd, inset -2px -2px 4px 0px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contact-input-style */
.contact-input-style {
  gap: 10px;
  border-radius: 12px;
  padding: 12px;
  background: #fff;
  box-shadow: -1px -1px 3px 0px #fff,
    1.5px 1.5px 3px 0px rgba(174, 174, 192, 0.4);
  margin: 10px 0px;
  color: #555555;
  border: 4px solid rgb(238, 234, 234);
}

.select {
  gap: 10px;
  border-radius: 8px;
  border-radius: 12px;
  background: #dcf8ef;
  box-shadow: -2px -2px 4px 0px #fff inset, 2px 2px 4px 0px #badfdd inset;
}
.unselect {
  gap: 10px;
  border-radius: 8px;
  border-radius: 12px;
  background: linear-gradient(312.48deg, #096b44 14.21%, #5bcb9f 85.33%);
  box-shadow: -2px -2px 4px 0px #fff inset, 2px 2px 4px 0px #badfdd inset;
}
